.output {
  margin-top: 1em;
}
.interpret {
  margin-right: 1em;
}
.dropdown-divider {
  margin-bottom: 1.5em;
}
.spinner-container {
  margin-top: 1em;
  left: -1em;
}
.required-input {
  margin-top: 1em;
}
